body {background:#fcfcfc;}
#root {padding-top:103px;}
ul {margin:0;padding:0;}
ul li {list-style:none;}
#address {text-transform: none; font-size: 12px;}

.contentGridView .leftWrap #full img {position:relative;max-height:100vh;}
.contentGridView .leftWrap #page img {max-width:640px}

.spinner {padding:20px 0;text-align:center;}

ul.subHeader {z-index:2;position:fixed;top:52px;left:0;right:0;margin:0;padding:5px 0;border-bottom:1px solid #ddd;background:#fff;-webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14);box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14)}
ul.subHeader li {display:block;padding:0 20px;text-align:left;}
ul.subHeader li a {display:inline-block;padding:5px 30px;font-size:14px;font-weight:500;border-radius:0;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
ul.subHeader li a .MuiTouchRipple-root-96 {display:none;}
ul.subHeader li a:hover {color:#e91e63;background:#fff;}
ul.subHeader li a:after {content:'';border-bottom:2px solid #fff;position:absolute;bottom:0;left:0;right:0;}

ul.subHeader li .sortSearch {position:absolute;top:10px;bottom:10px;right:20px;display:-ms-flexbox;display:flex;padding:0 30px 0 10px;border:1px solid #ddd;}
ul.subHeader li .sortSearch div[class^=MuiFormControl] {padding:0;margin:0;-ms-flex-direction:row;flex-direction:row;vertical-align:middle;-ms-flex-align:center;align-items:center}
ul.subHeader li .sortSearch div[class^=MuiFormControl] > div:after,
ul.subHeader li .sortSearch div[class^=MuiFormControl] > div:before,
ul.subHeader li .sortSearch div[class^=MuiFormControl] > div:hover {border:0 !important;}

ul.subHeader li .sortSearch div.jss0203 {padding:0;margin:0;-ms-flex-direction:row;flex-direction:row;vertical-align:middle;-ms-flex-align:center;align-items:center}
ul.subHeader li .sortSearch div.jss0203 > div:after,
ul.subHeader li .sortSearch div.jss0203 > div:before,
ul.subHeader li .sortSearch div.jss0203 > div:hover {border:0 !important;}

ul.subHeader li .sortSearch > button {width:28px;min-width:28px;margin:0;height:28px;padding:0 !important;margin-right:-30px !important;-webkit-box-shadow:none;box-shadow:none;}

.contentGrid .rightWrap .cardCont button {color:#000;background:#fff;font-size:14px;border:0px solid #eee;}
.contentGrid .rightWrap .cardCont button {padding:1px;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
.contentGrid .rightWrap .cardCont button:hover {color:#e91e63;}
.contentGrid .rightWrap .cardCont button a {color:inherit;}
.contentGrid .rightWrap .cardCont button a {text-transform: capitalize;}

.contentGrid {padding:20px 15px;padding-left:310px;}
.contentGrid * {font-weight:400}
.contentGrid .leftWrap {position:absolute;top:123px;left:20px;width:280px;overflow:auto;border:1px solid #eee;background:#fff;}
.contentGrid .leftWrap ul {padding:25px;}
.contentGrid .leftWrap ul li {padding:0;text-align:left;}
.contentGrid .leftWrap ul li button {font-size:14px;}
.contentGrid .leftWrap ul li button {padding:0;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
.contentGrid .leftWrap ul li button:hover {color:#e91e63;}
.contentGrid .leftWrap ul li button a {color:inherit;}
.contentGrid .leftWrap ul li button a {text-transform: capitalize;}
.contentGrid .rightWrap {padding:25px;border:1px solid #eee;background:#fff;}
.contentGrid .rightWrap h3 {margin-top:-10px;font-weight:bold}

.contentGridView {overflow:hidden;width:1000px;margin:20px auto;padding:20px 15px;border:1px solid #eee;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;}
.contentGridView * {font-weight:400}
.contentGridView a {color:#3c4858}
.contentGridView .leftWrap {width:640px;float:left;}
.contentGridView .leftWrap .tit {font-size:26px;font-weight:600;}
.contentGridView .leftWrap .tit02 {font-size:20px;font-weight:500;}
.contentGridView .leftWrap .titUser {font-size:18px;}
.contentGridView .leftWrap .titUser a {color:inherit;}
.contentGridView .leftWrap .profileImg {margin-top:15px;padding:10px 0}
.contentGridView .rightWrap {float:right;width:305px;margin:0;}
.contentGridView .rightWrap h3 {margin-top:-3px;font-size:16px;font-weight:bold}
.contentGridView .rightWrap h4 {margin:0;font-size:14px;}

.profileImg {display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.profileImg .userImg {position:relative;display:inline-block;overflow:hidden;width:34px;height:34px;margin-right:10px;border-radius:34px;border:1px solid #ddd}
.profileImg .userImg img {position:absolute;top:0;left:0;width:100%;height:100%;}
.profileImg .userImg svg {margin:4px 0 0 4px;}
.profileImg .userName {font-size:14px;line-height:1.2;font-weight:bold}
.profileImg .txt {display:block;font-size:14px;font-weight:normal;color:#}

.proFileDescript {font-size:15px;white-space:pre-wrap;}

.documentText {font-size:10px;color:#a0a096;white-space:pre-wrap;}

.detailList {margin-top: 10px; margin-left: 10px; margin-bottom: 30px;}
.detailList li {font-size:14px;}


.cardCont {position:relative;padding-left:200px;}
.cardCont a {color:#3c4858}
.cardCont * {font-weight:normal;}
.cardCont + .cardCont {margin-top:20px;padding-top:20px;border-top:1px solid #eee}
.cardCont + .cardCont .img {top:20px}
.cardCont .img {overflow:hidden;position:absolute;top:0;left:0;bottom:0;display:-ms-flexbox;display:flex;width:190px;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;border:1px solid #ddd}
.cardCont .img span {}
.cardCont .img img {display:block;max-width:190px;max-height:147px;}
.cardCont .inner {}
.cardCont .inner div {overflow:hidden;}
.cardCont .inner div.tit {margin:8px 0 0 0;font-size:16px;font-weight:bold;line-height:1.2;white-space:nowrap;overflow:hidden;white-space:normal;text-align:left;word-wrap:break-word;-webkit-line-clamp:2;}
.cardCont .inner div.descript {margin:8px 0 0 0;font-size:14px;line-height:1.2;white-space:nowrap;overflow:hidden;white-space:normal;text-align:left;word-wrap:break-word;-webkit-line-clamp:2;}
.cardCont .inner div.badge {margin:10px 0 0 0;}


.cardSide {overflow:hidden;border-radius:0.3em;-webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)}
.cardSide + .cardSide {margin-top:20px}
.cardSide .img {}
.cardSide .img span {}
.cardSide .img img {display:block;width:100%;height:200px;}
.cardSide .inner {padding:15px;}
.cardSide .inner div.tit {margin:0;font-size:14px;font-weight:bold;line-height:1.2;white-space:nowrap;overflow:hidden;white-space:normal;text-align:left;word-wrap:break-word;-webkit-line-clamp:2;}
.cardSide .inner div.descript {margin:8px 0 0 0;font-size:12px;line-height:1.2;white-space:nowrap;overflow:hidden;white-space:normal;text-align:left;word-wrap:break-word;-webkit-line-clamp:2;}
.cardSide .inner div.badge {margin:10px 0 0 0;}


.slideShow {}
.slideShow .img {}
.slideShow .img img {display:block;width:100%;min-height:400px;}
.slideShow .prev {}
.slideShow .next {}
.slideShow .slideBtn {text-align:center;background:#333}
.slideShow .slideBtn span {padding:0;margin:0;font-size:12px;color: #fff}
.slideShow .slideBtn button {margin:0;font-size:14px;color:#fff;}
.slideShow .slideBtn button span {padding-top:2px;}
.slideShow .slideBtn button svg {font-size:24px;width:24px;height:24px;color:#fff;}

.voteList {margin-bottom:15px;}
.voteList li {font-size:12px;}
.voteList li strong {display:inline-block;min-width:50px;text-align:right;font-weight:600}
.voteList li span {display:inline-block;min-width:90px;text-align:right;}
.notiTxt {line-height:1.2;font-size:12px;color:#f44336}
.deckInput {margin-top:-17px}
.deckInput input {text-align:right}
.deckInput label {left:auto;right:0;}

.customGrid {display:-ms-flexbox;display:flex;margin:10px 0}
.customGrid .box {width:100%;;padding:10px;float:left;border-radius:0;-webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)}
.customGrid .box  + .box {margin-left:15px;}
.customGrid .box h4{margin:-10px -10px 10px -10px;padding:2px 10px;font-size:20px;color:#fff;background:#999}

.customGrid .box .cardSide {-webkit-box-shadow:none;box-shadow:none;border-radius:0}

.customGrid.col3 {-ms-flex-wrap:wrap;flex-wrap:wrap;}
.customGrid.col3 .box {width:32.3%;margin-top:15px;}
.customGrid.col3 .box:nth-child(1)
.customGrid.col3 .box:nth-child(2),
.customGrid.col3 .box:nth-child(3), {margin-top:0}
.customGrid.col3 .box:nth-child(3n + 1) {margin-left:0;}
.customGrid.col3 .box:nth-child(2n) {}
.customGrid.col3 .box:nth-child(3n) {}

.uploadStatus {margin:0px 0px 0px 3px;font-size:12px;line-height:1.2;height: 50px;}
.uploadProgress {width:100%}

/*
.sortSearch .jss0188 {padding-top:8px}
.sortSearch .jss0188:after {display:none;}
.sortSearch .jss0188:before {display:none;}
*/
